In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# BMI (Индекс массы тела) Dataset from https://www.kaggle.com/datasets/yasserh/bmidataset

# take only Height 
df = pd.read_csv('bmi.csv')[['Gender','Height']]
df.shape

(500, 2)

In [3]:
unique_height = sorted(df['Height'].unique())
print(len(unique_height), 'unuque values from', min(unique_height), 'to', max(unique_height), 'cm')

60 unuque values from 140 to 199 cm

In [4]:
df.head(3)

   Gender  Height
0    Male     174
1    Male     189
2  Female     185

###

In [7]:
min_value = df['Height'].min()
max_value = df['Height'].max()
Ex = df['Height'].mean()
min_value, max_value, Ex

(140, 199, 169.944)

In [12]:
for t in range(min_value, max_value):
    p = df[df['Height'] >= t].shape[0] / df.shape[0]
    eq = p < (Ex / t)
    print(t, p, '<', round(Ex / t, 1) ,eq)

140 1.0 < 1.2 True
141 0.984 < 1.2 True
142 0.968 < 1.2 True
143 0.95 < 1.2 True
144 0.944 < 1.2 True
145 0.934 < 1.2 True
146 0.916 < 1.2 True
147 0.898 < 1.2 True
148 0.884 < 1.1 True
149 0.874 < 1.1 True
150 0.864 < 1.1 True
151 0.842 < 1.1 True
152 0.826 < 1.1 True
153 0.81 < 1.1 True
154 0.79 < 1.1 True
155 0.77 < 1.1 True
156 0.758 < 1.1 True
157 0.746 < 1.1 True
158 0.726 < 1.1 True
159 0.716 < 1.1 True
160 0.698 < 1.1 True
161 0.684 < 1.1 True
162 0.666 < 1.0 True
163 0.648 < 1.0 True
164 0.632 < 1.0 True
165 0.614 < 1.0 True
166 0.594 < 1.0 True
167 0.576 < 1.0 True
168 0.558 < 1.0 True
169 0.532 < 1.0 True
170 0.512 < 1.0 True
171 0.5 < 1.0 True
172 0.484 < 1.0 True
173 0.46 < 1.0 True
174 0.452 < 1.0 True
175 0.436 < 1.0 True
176 0.428 < 1.0 True
177 0.414 < 1.0 True
178 0.396 < 1.0 True
179 0.37 < 0.9 True
180 0.342 < 0.9 True
181 0.326 < 0.9 True
182 0.304 < 0.9 True
183 0.28 < 0.9 True
184 0.258 < 0.9 True
185 0.234 < 0.9 True
186 0.212 < 0.9 True
187 0.194 < 0.9 True
188 0.166 < 0.9 True
189 0.136 < 0.9 True
190 0.126 < 0.9 True
191 0.108 < 0.9 True
192 0.094 < 0.9 True
193 0.082 < 0.9 True
194 0.072 < 0.9 True
195 0.062 < 0.9 True
196 0.042 < 0.9 True
197 0.03 < 0.9 True
198 0.016 < 0.9 True