In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# BMI (Индекс массы тела) Dataset from https://www.kaggle.com/datasets/yasserh/bmidataset

# take only Height
df = pd.read_csv('bmi.csv')[['Height']]
df.shape

# # Используем искуственный
# df = np.random.normal(loc=170, scale=10, size=1000)
# df = pd.DataFrame(df, columns=['Height']).round()

(500, 1)

In [3]:
df.head(3)

   Height
0     174
1     189
2     185

## take your dateaset and calculate distance between median and average

In [6]:
mean = df['Height'].mean()
median = df['Height'].median()
print(abs(median - mean))

0.5560000000000116